.controller {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;


    > .group {
        width: 360px;
        padding: 10px 0;
        margin-bottom: 16px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        opacity: 0;
        animation-name: loadDown;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        &:nth-child(1) {animation-delay: 1s;}
        &:nth-child(2) {animation-delay: 1.2s;}
        &:nth-child(3) {animation-delay: 1.4s;}

        > .label {
            font-family: 'Montserrat', sans-serif;
            color: $black-primary;
            font-size: 2.4rem;
            padding: 2px 0;
            border-radius: 8px;
            width: 70px;
            text-align: center;

            &.light {
                color: $white-secondary;
            }
        }
    
        > .input {
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            width: 10px;
            flex: 1;
            margin-left: 10px;

            height: 40px;
            background-color: transparent;
            padding: 10px 5px;
            border: none;
            color: $black-primary;
            transition: .2s border-color linear;
            border-bottom: 1px solid transparent;
    
            &:focus ,
            &:hover {
                outline: none;
                border-bottom: 1px solid $white-primary;
                transition: .2s border-color linear;
            }

            &.light {
                color: $white-primary;
            }

            &.error {
                border-color: $error-red;
                border-bottom-width: 2px;
            }

        }

        > .erroricon {
            width: 30px;
            height: 30px;
            position: absolute;
            right: -32px;
        
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                // display: none;
            }

            &.show > img {
                display: block;
            }
           
        }
    }
}

@media (max-width: 800px) {
    .controller {

        > .group {
            width: 336px;

            > .label {
                font-size: 2.2rem;
            }
            > .input {
                font-size: 2.8rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .controller {

        > .group {
            width: 290px;
            > .label {
                font-size: 1.8rem;
            }
            > .input {
                font-size: 2.4rem;
            }
        }
    }
}
@media (max-width: 400px) {
    .controller {

        > .group {
            width: 250px;

            > .label {
                font-size: 1.4em;
            }
            > .input {
                font-size: 2rem;
            }
        }
    }
}