.controller {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > .group {
        width: 360px;
        padding: 10px 0;
        margin-bottom: 16px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        > .label {
            font-family: 'Montserrat', sans-serif;
            color: $black-secondary;
            font-size: 2.4rem;
            padding: 2px 4px;
            border-radius: 8px;

            &.light {
                color: $white-secondary;
            }
        }
    
        > .input {
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            width: 10px;
            flex: 1;
            margin-left: 10px;

            height: 40px;
            background-color: transparent;
            padding: 10px 5px;
            border: none;
            color: $black-primary;
            transition: .2s border-color linear;
            border-bottom: 1px solid transparent;
    
            &:focus ,
            &:hover {
                outline: none;
                border-bottom: 1px solid $white-primary;
                transition: .2s border-color linear;
            }

            &.light {
                color: $white-primary;
            }

            &.error {
                border-color: $error-red;
                border-bottom-width: 2px;
            }

        }

        > .erroricon {
            width: 30px;
            height: 30px;
            position: absolute;
            right: -32px;
        
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                display: none
            }

            &.show > img {
                display: block;

            }
           
        }
    }
}

@media (max-width: 800px) {
    .controller {

        > .group {
            width: 336px;

            > .label {
                font-size: 2.2rem;
            }
            > .input {
                font-size: 2.8rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .controller {

        > .group {
            width: 290px;
            > .label {
                font-size: 1.8rem;
            }
            > .input {
                font-size: 2.4rem;
            }
        }
    }
}
@media (max-width: 400px) {
    .controller {

        > .group {
            width: 250px;

            > .label {
                font-size: 1.4em;
            }
            > .input {
                font-size: 2rem;
            }
        }
    }
}