.footer {
    position: absolute;
    font-size: 2rem;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Esteban', serif;
    color: $black-primary;

    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    > a {
        color: $black-secondary;
        text-decoration: none;
    }

    &.light {
        color: $white-primary;

        > a {
            color: $white-secondary;
        }
    }
}
